.nav {
  display: inline;
  margin: 4rem;
  color: #fff;
  position: fixed;
  z-index: 1000;

  &__menu {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: all .3s;
  }

  &__options {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;

    :link,
    :visited {
      color: #fff;
      text-decoration: none;
    }
  }

  li {
    list-style: none;
    padding: .2rem;
  }

  &__menu:hover {
    cursor: pointer;
    letter-spacing: 1rem;
  }

}
