.expanded-about-me {
  height: 100%;
  width: 100%;
  background-color: #eee;
  text-align: center;

  &__photo {
    height: 50rem;
    margin: 2rem;
    margin-top: 2rem;
    box-shadow: 0 20px 20px rgba(0,0,0,.5);
    border-radius: 3px;
    transition: all .3s;

      @include respond (tab-land) {
        height: 50rem;
      }

      @include respond (tab-port) {
        height: 45rem;
      }

      @include respond (tab-phone) {
        height: 25rem;
      }

    &:hover {
      transform: translateY(-1.2rem) scale(1.05);
    }
  }

  &__header {
    margin: 2rem;
  }

  &__text {
    text-align: center;
    font-size: 1.7rem;
    margin: 5rem 2rem 5rem 2rem;
    margin-top: -2rem;
    line-height: 2.5rem;
  }
}
