@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: 'Lato', sans-serif;
}

.name-header {
  text-transform: uppercase;
}

.name-header-main {
  display: block;
  font-size: 45px;
  letter-spacing: 30px;
  padding-bottom: 5px;
  position: relative;
}

.name-header-sub {
  display: block;
  font-size: 15px;
  letter-spacing: 20px;
  font-weight: 100;
  position: relative;
}

.about-me-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.head-shot {
  border-radius: 100px;
  position: relative;
  padding: 20px;
}
