@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #777;
}

.name-header {
  text-transform: uppercase;
  text-align: center;
  background-color: #888888;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  color: #fff;
}

.name-header-main {
  display: block;
  font-size: 25px;
  letter-spacing: 30px;
  padding-bottom: 5px;
  margin: 10px;
  animation: moveInLeft 1s ease-out;
}

.name-header-sub {
  display: block;
  font-size: 12px;
  letter-spacing: 15px;
  font-weight: 100;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translate(-100px);
  }
  80% {
    transform: translate(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px);
  }
  80% {
    transform: translate(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.about-me-box {
  text-align: center;
  padding-top: 150px;
}

.head-shot {
  padding: 10px;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.media-icon {
  max-width: 50px;
  opacity: 0.9;
}

.programming-knowledge-box {
  text-align: center;
  padding: 10px;
  margin: 50px;
}

.h2-headers {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 30px;
  letter-spacing: 15px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 50px;
}

.bio {
  margin: 30px;
}

.bio-span {
  display: block;
}

.skill-list {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 3px;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
}

.project-container {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 3px;
  position: relative;
  width: 70%;
  margin: auto;
}

.project-card {
/*  margin: 15px;
  text-align: center;
  margin: 20px;
  border-style: solid;
  max-width: 55vw;
  display: inline-block;
  padding: 40px; */
}

.project-title {
  margin: 20px;
}

.project-page {
  margin: 120px 20px;
}

.project-description {
  text-align: center;
  padding: 0px 50px 0px 50px;
}

.project-h3-techstack {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 20px;
  letter-spacing: 10px;
  font-weight: 100;
  text-align: center;
  margin: 20px;
}

.project-links-div {
  text-align: center;
}

.project-links:link,
.project-links:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.project-links {
  color: #777;
}

.menu {
  position: fixed;
  z-index: 1;
  float: right;
  color: white;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  text-transform: uppercase;
}
