@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: 'Lato', sans-serif;
  color: #777
}

.name-header {
  text-transform: uppercase;
  text-align: center;
}

.name-header-main {
  display: block;
  font-size: 45px;
  letter-spacing: 30px;
  padding-bottom: 5px;

}

.name-header-sub {
  display: block;
  font-size: 20px;
  letter-spacing: 15px;
  font-weight: 100;
}

.about-me-box {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; */
  text-align: center;
}

.head-shot {
  padding: 20px;
}

.media-icon {
  max-width: 50px;
  opacity: 0.9;
}

.programming-knowledge-box {
  text-align: center;
  padding: 10px;
}

.h2-headers {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 25px;
  letter-spacing: 15px;
  font-weight: 100;
  text-align: center;
}

.bio {
  margin: 30px;
}

.bio-span {
  display: block;

}

.skill-list {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 3px;
  padding: 20px;
}


.project-titles {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 3px;
}
